.content-competences {
  height: 80vh;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  color: $black;
  .competences-langages-experiences {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    .competences-langages {
      border-right: 1px solid $primaryColor;
      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      padding: 0.5rem;
      h1 {
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
        &:hover {
          color: $primaryColor;
        }
      }
      .langages-item {
        display: flex;
        flex-direction: row;
        padding: auto;
        margin: auto 0 auto 1rem;
        font-size: 1.6rem;
        .item-title {
          display: flex;
          flex-direction: row;
          width: 200px;
        }
        h3 {
          font-weight: 400;
          font-size: 1.2rem;
          &:hover {
            color: $primaryColor;
          }
        }
        .star {
          margin-left: 3rem;
        }
        .logo {
          margin-left: 0.5rem;
          margin-top: 0.2rem;
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
    .competences-experiences {
      height: 100%;
      width: 60%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      h1 {
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
        &:hover {
          color: $primaryColor;
        }
      }
      .experiences-item {
        margin: auto;
        h5 {
          font-size: 1rem;
          font-style: italic;
          margin-bottom: 0.3rem;
        }
        p {
          a {
            color: $primaryColor;
          }
        }
      }
    }
  }
  .competences-autres-interets {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid $primaryColor;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    .competences-autres {
      height: 100%;
      width: 75%;
      border-bottom-left-radius: 25px;
      h1 {
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
        &:hover {
          color: $primaryColor;
        }
      }
      .competences-listes {
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        ul {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          li {
            padding: 0.5rem;
            display: flex;
            flex-direction: row;
            margin: auto 0 auto 5rem;
            font-size: 1.3rem;
            .logo {
              width: 50px;
              i {
                color: $primaryColor;
              }
            }
          }
        }
      }
    }
    .competences-interets {
      border-left: 1px solid $primaryColor;
      height: 100%;
      width: 25%;
      border-bottom-right-radius: 25px;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      h1 {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 400;
        &:hover {
          color: $primaryColor;
        }
      }
      ul {
        li {
          margin: auto;
          font-size: 1.3rem;
          padding: 0.5rem;
        }
      }
    }
  }
}

@include xs {
  .content-competences {
    height: auto;
    .competences-langages-experiences {
      flex-direction: column;
      .competences-langages {
        width: 100%;
        border-bottom: 1px solid $primaryColor;
        .langages-item {
          .star {
            margin-left: 1rem;
          }
        }
      }
      .competences-experiences {
        width: 100%;
      }
    }
    .competences-autres-interets {
      flex-direction: column;
      .competences-autres {
        width: 100%;
        border-bottom: 1px solid $primaryColor;
        border-bottom-left-radius: 0px;
        .competences-listes {
          ul {
            li {
              margin-left: 0.5rem;
            }
          }
        }
      }
      .competences-interets {
        width: 100%;
        border: none;
      }
    }
  }
}

@include sm {
  .content-competences {
    height: auto;
    .competences-langages-experiences {
      .competences-langages {
        .langages-item {
          padding-bottom: 1.5rem;
          .item-title {
            width: 150px;
          }
          .star {
            margin-left: 0;
          }
        }
      }
    }
    .competences-autres-interets {
      .competences-interets {
        ul {
          padding-left: 0;
        }
      }
    }
  }
}

@include md {
  .content-competences {
    height: auto;
    .competences-langages-experiences {
      .competences-langages {
        .langages-item {
          padding: 0.8rem;
          .item-title {
            width: 100px;
          }
        }
      }
    }
  }
}

.lightYellow {
  color: $lightYellow;
}

.darkYellow {
  color: $darkYellow;
}
